 /* General Styles */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f7;
    display: flex;
    min-height: 100vh;
}


.sidebar {
    width: 250px;
    background: linear-gradient(135deg, #75c085, #5ea872);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    color: #ffffff;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    width: 90%;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 10px;
    margin-bottom: 12px;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #40a357;
    transform: scale(1.05);
}

.sidebar .aqui {
    background-color: #40a357;
}

.sidebar .subMenu {
    font-size: medium;
    color: #d8f7de;
}

/* Main Content Styles */
.main-content {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #40a357;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #218838;
}

.table-container {
    display: none;
    margin-top: 20px;
    max-width: 700px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #7dbe8b;
    color: white;
}

.action-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logo-topo-direira {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 4%;
}